<template>
  <v-app>

    <section class="primary lighten-2 py-5">
      <v-container grid-list-xl>
        <v-layout row wrap align-center>
          <v-flex xs6>
            <h1 class="display-2 font-weight-bold white--text">Welcome to the skeleton for your new MDE app.</h1>
          </v-flex>
          <v-flex xs10>
            <h1 class="headline white--text">Project Name: <strong class="warning--text">{{ name }}</strong></h1>
            <h1 class="headline white--text">Project Description: <strong class="warning--text">{{ description }}</strong></h1>
            <h1 class="headline white--text">Author: <strong class="warning--text">{{ author }}</strong></h1>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section class="light-blue lighten-5">
      <v-container grid-list-xl>
        
        <v-layout row wrap>
          <v-flex xs10>
            <h1 class="display-2 font-weight-bold">Getting Started:</h1>
            <p class="headline">This project uses a few pretty cool open source technologies:</p>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs3>
            <v-card color="grey lighten-5">
              <v-card-text>
                <img src="https://vuejs.org/images/logo.png?_sw-precache=cf23526f451784ff137f161b8fe18d5a" height="150" />
                <h1 class="title">Vue.js</h1>
              </v-card-text>
              <v-card-text class="pt-1">
                <h1 class="body-1">A cool JS framework that let's you build apps from the ground up...as powerful as
                  Angular/React, but much simpler.</h1>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs3>
            <v-card color="grey lighten-5">
              <v-card-text>
                <img src="https://camo.githubusercontent.com/4aa5532ee9baf623c95b901372002dfa4e97ff01/687474703a2f2f696d6775722e636f6d2f56344c746f49492e706e67"
                  height="150" />
                <h1 class="title">Nuxt.js</h1>
              </v-card-text>
              <v-card-text class="pt-1">
                <h1 class="body-1">Take the awesomeness of Vue.js, and add the ability to use the same code to build
                  universal, static generated or SP applications.</h1>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs3>
            <v-card color="grey lighten-5">
              <v-card-text>
                <img src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-300.png" height="150" />
                <h1 class="title">Vuetify.js</h1>
              </v-card-text>
              <v-card-text class="pt-1">
                <h1 class="body-1">Vuetify makes it look pretty.</h1>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      
      </v-container>
    </section>

    <section>
      <v-container>
        <v-layout>
          <v-flex>
            <h1 class="display-2 font-weight-bold">Colors:</h1>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </v-app>
</template>

<script>
// Uncomment below to import axios for api calls
// import axios from 'axios'

export default {
  data: () => ({
    model: null
  }),
  // Uncomment below to use axios to pull data from api
  // asyncData ({ req, params }) {
  //   // We can return a Promise instead of calling the callback
  //   return axios.get('http://localhost:8000/api/entities')
  //     .then((res) => {
  //       return { leas: res.data }
  //     })
  // },
  head: {
    title: '{{ name }}'
  },
  // Uncomment below to use navigation from select or autocomplete
  // methods: {
  //   navigate () {
  //     console.log(this.select)
  //     // Start loader immediately
  //     this.$router.push('/entities/' + this.select)
  //     // this.$router.push('/entities/' + select.entityid)
  //   }
  // }
}
</script>