<template>
  <v-app>
    <section class="black">
      <v-container class="my-0 py-1 pl-0">
        <v-system-bar color="dark" dark>
          <span class="white--text pl-3">Official MDE Site</span>
        </v-system-bar>
      </v-container>
    </section>

    <section class="primary lighten-1">
      <v-container grid-list-lg class="py-0">
        <v-layout row align-center>
          <v-flex shrink>
            <img src="/mde-logo-light.svg" width="120px" />
          </v-flex>
          <v-divider vertical class="white my-3"></v-divider>

          <v-flex>
            <h1 class="headline font-weight-medium white--text">{{ name }}</h1>
          </v-flex>
      <v-spacer></v-spacer>
      <v-flex shrink>
          <v-menu bottom left offset-y>
        <v-btn slot="activator" color="primary" flat large>
          <span class="title font-weight-light white--text">2017/2018</span>
          <v-icon light>arrow_drop_down</v-icon>
        </v-btn>
              <v-list>
            <v-list-tile @click="">
              <v-list-tile-title>2016/17</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
              <v-list-tile-title>2015/16</v-list-tile-title>
            </v-list-tile>
            </v-list>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer dark height="auto">
      <v-card flat tile class="flex">
        <v-card-title class="primary lighten-2 py-0 justify-center">
          <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
            <v-icon medium>{{ icon }}</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="primary">
          <v-container grid-list-md>
            <v-layout row wrap justify-space-between>
              <v-flex shrink>
                <h1 class="subheading font-weight-bold">Mississippi Department of Education</h1>
                <v-divider></v-divider>
                <h1 class="body-1">P.O. Box 771</h1>
                <h1 class="body-1">Jackson, MS 39205-0771</h1>
                <h1 class="body-1">Educator Licensure Related Information: 601-359-3483</h1>
                <h1 class="body-1">General MDE Related Information: 601-359-3513</h1>
              </v-flex>
              <v-flex shrink>
                <h1 class="subheading font-weight-bold">SUPPORT</h1>
                <v-divider></v-divider>
                <h1 class="body-1">User Guide</h1>
                <h1 class="body-1">Accessibility</h1>
                <h1 class="body-1">Disclaimer</h1>
                <h1 class="body-1">Non-Discrimination</h1>
              </v-flex>
              <v-flex xs2>
                <img src="/msGov.png" width="120px">
                <img src="/mde-logo-light.svg" width="120px">
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-text class="primary py-0 text-xs-center">
          <v-divider class="mx-5"></v-divider>
          <h1 class="subheading font-weight-bold">LEARN MORE</h1>
        </v-card-text>

        <v-card-text class="primary py-0 text-xs-center">
          <v-chip text-color="white" class="transparent">
            <v-avatar>
              <v-icon small>star</v-icon>
            </v-avatar>Mississippi Department of Education
          </v-chip>
          <v-chip text-color="white" class="transparent">
            <v-avatar>
              <v-icon small>star</v-icon>
            </v-avatar>Office of Technology & Strategic Services
          </v-chip>
          <v-chip text-color="white" class="transparent">
            <v-avatar>
              <v-icon small>star</v-icon>
            </v-avatar>Mississippi Succeeds Report Cards
          </v-chip>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-youtube',
        'fab fa-github'
      ]
    })
  }
</script>
